{% extends "nav.html" %}

{% block body %}
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <h1>How to Play?</h1>
      <p>
        Welcome to Kwizz! Log in, sign up or just hit the button below and start a quiz! Choose a category and get guessing!
        There are 10 questions in round 1. Each question is worth 1 point, to get the ad free verion, reach 100 points or simply purchase it <a href="#">here!</a>
      </p>
    </div>
    <div class="col-lg-6 col-sm-12">
      <img class="frontPageImg" src="/static/shutterstock_599738306.jpg" alt="Sports equipment image">
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-12 col-sm-12">
      <a href="{{ url_for('quizStart') }}" class="btn btn-info">Start a quiz!</a>
    </div>

    <ul>
        {% for record in records %}
          <li>
            {{ record.name }} and {{ record.answer }}
          </li>
          {% endfor %}
    </ul>
  </div>

{% endblock %}
